.kotak{
            background: #039be5;
            padding: 10px; 
        }
        .tulisan{
            color: #ffea00;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: italic;
            font-weight: bold;
            font-size: 25pt;
        }